site_name: Open Data Mesh Platform
site_description: Open Data Mesh Platform
site_url: https://platform.opendatamesh.org

#repo_url: https://github.com/opendatamesh-initiative/odm-site-platform
edit_uri: edit/main/docs/

dev_addr: '127.0.0.1:1234'

nav:
  - Home: './index.md'
  - Overview:
    - './overview/index.md'
    - Site Map: './overview/sitemap.md'
  - Concepts: 
    - './concepts/index.md'
  - Architecture:
    - './architecture/index.md'
  - Integration Hub:
      - './integration-hub/index.md'
  - API Doc:
    - './api-doc/index.md'
  - Community:
    - './community/index.md'
  - Resources:
    - './resources/index.md'
 

##theme: readthedocs
theme:
  name: material
  features:
    - navigation.tabs  
    #- navigation.tabs.sticky
    - navigation.top
    - toc.follow
    #- toc.integrate
    - navigation.instant
    - navigation.tracking
    - navigation.expand
    - navigation.indexes
    - navigation.footer
  favicon: favicon.ico
  palette:
    # Palette toggle for light mode
    - scheme: default
      toggle:
        icon: material/brightness-7 
        name: Switch to dark mode
    # Palette toggle for dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  logo: icon.png
  icon:
    repo: fontawesome/brands/github
  custom_dir: docs/overrides

extra:
  analytics:
    provider: google
    property: G-21LGK3XPSG
    feedback:
      title: Was this page helpful?
      ratings:
        - icon: material/emoticon-happy-outline
          name: This page was helpful
          data: 1
          note: >-
            Thanks for your feedback!
            <br><a href="https://github.com/opendatamesh-initiative/odm-platform" target="_blank">⭐Star the project on GitHub⭐</a>
        - icon: material/emoticon-sad-outline
          name: This page could be improved
          data: 0
          note: >-
            Thanks for your feedback! 
            <br><a href="https://github.com/opendatamesh-initiative/odm-platform/issues" target="_blank">Consider opening an issue on GitHub</a>
  consent:
    title: Cookie consent
    description: >- 
      We use cookies to recognize your repeated visits and preferences, as well
      as to measure the effectiveness of our documentation and whether users
      find what they're searching for. With your consent, you're helping us to
      make our documentation better.

  social:
    - icon: octicons/mail-16
      link: mailto:odm.info@quantyca.it
    - icon: fontawesome/brands/mailchimp
      link: https://mailchi.mp/936d787cac89/open-data-mesh-initiative
    - icon: fontawesome/brands/github
      link: https://github.com/opendatamesh-initiative/odm-platform
    - icon: fontawesome/brands/slack
      link: https://join.slack.com/t/opendatamesh/shared_invite/zt-1jrqfghls-68AxK_QzypaOeNyOkOwuog

extra_css:
  - stylesheets/extra.css
  
markdown_extensions:
  - toc:
      toc_depth: 4
      permalink: ⚓︎
  - attr_list
  - md_in_html
  - admonition
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
      auto_title: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.blocks.html
  - pymdownx.tabbed:
      alternate_style: true
  - def_list
  - pymdownx.tasklist:
      custom_checkbox: true


plugins:
  - git-revision-date-localized:
      enable_creation_date: true
  - social:
      cards_color:
        fill: "#ff8f00" 
        text: "#FFFFFF"
  - exclude:
      glob:
        - "obsolete/*"
copyright: >
  Copyright &copy; 2023 Quantyca S.p.A. - <a href="#__consent">Change cookie settings</a>